<div class="col-12">
  <div><% item["prompt"]&.each do |p| %><%= p.html_safe %><% end %></div>
<% if readonly %>
<% if answer.blank? %>
<b>Answer:</b>
<i>No answer given</i>
<% else %>
<pre class="sourceCodeDisplay border" data-lang="<%= item["lang"] %>" data-readonly="true" name="<%= unique_label %>">
<%= answer %>
</pre>
<% end %>
<% else %>
<textarea class="sourceCode" data-lang="<%= item["lang"] %>" data-readonly="false" name="<%= unique_label %>">
<%= answer %>
</textarea>
<% end %>
</div>
