<p>Match items on the left to items on the right.</p>
<div class="row no-gutters">
  <div class="col">
    <ol type="A">
      <% item["prompts"].each_with_index do |prompt, idx| %>
        <li data-index="<%= idx %>" class="clearfix">
          <div class="row">
            <div class="col-md-8">
              <%= prompt %>
            </div>
            <div class="col-md-4">
              Matches:
              <% box_label = "#{unique_label}_#{idx}" %>
              <select class="form-control" name="<%= box_label %>">
                <option></option>
                <% item["values"].each_with_index do |_, index| %>
                  <option value="<%= index+1 %>"><%= index+1 %></option>
                <% end %>
              </select>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
  <div class="col">
    <ol type="1">
      <% item["values"].each_with_index do |answer, idx| %>
        <li data-index="<%= idx %>"><%= answer %></li>
      <% end %>
    </ol>
  </div>
</div>