<p>Match items on the left to items on the right.</p>
<div class="row no-gutters">
  <div class="col">
    <ol type="A">
      <% item["prompts"].each_with_index do |prompt, idx| %>
        <li data-index="<%= idx %>" class="clearfix">
          <div class="row">
            <div class="col-md-8">
              <%= prompt %>
            </div>
            <div class="col-md-4">
              <% box_label = "#{unique_label}[#{idx}]" %>
              <% num_items = item["values"].size %>
              <%= form.select box_label,
                              options_for_select(["Choose one..."] + (1..num_items).to_a,
                                                 selected: "Choose one...",
                                                 disabled: "Choose one..."),
                              {label: "Matches:" },
                              {class: "custom-select"} %>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
  <div class="col">
    <ol type="1">
      <% item["values"].each_with_index do |answer, idx| %>
        <li data-index="<%= idx %>"><%= answer %></li>
      <% end %>
    </ol>
  </div>
</div>