<% if readonly %>
<% answers = {"true"=>"True", "false"=>"False", nil=>"<i>No answer given</i>".html_safe} %>
<b>Answer:</b> <%= answers[answer] %>
<% else %>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <% is_true = answer == "true" %>
  <% is_false = answer == "false" %>
  <label class="btn btn-outline-primary <%= "active" if is_true %>">
    <input type="radio" name="<%= unique_label %>" value="true" autocomplete="off" <%= "checked" if is_true %>>True
  </label>
  <label class="btn btn-outline-primary <%= "active" if is_false %>">
    <input type="radio" name="<%= unique_label %>" value="false" autocomplete="off" <%= "checked" if is_false %>>False
  </label>
</div>
<% end %>
