<div class="col-10"><% item["prompt"]&.each do |p| %><%= p.html_safe %><% end %></div>
<div class="col-2 text-right">
<% if readonly %>
<b>Answer:</b>
<% if answer == "true" %>
<span class="btn btn-sm btn-outline-dark disabled">True</span>
<% elsif answer == "false" %>
<span class="btn btn-sm btn-outline-dark disabled">False</span>
<% else %>
<i>No answer given</i>
<% end %>
<% else %>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <% is_true = answer == "true" %>
  <% is_false = answer == "false" %>
  <label class="btn btn-outline-primary <%= "active" if is_true %>">
    <input type="radio" name="<%= unique_label %>" value="true" autocomplete="off" <%= "checked" if is_true %>>True
  </label>
  <label class="btn btn-outline-primary <%= "active" if is_false %>">
    <input type="radio" name="<%= unique_label %>" value="false" autocomplete="off" <%= "checked" if is_false %>>False
  </label>
</div>
<% end %>
</div>
