<div class="row">
  <div class="col-12">
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">User</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
        <th scope="col">Room</th>
      </tr>
      </thead>
      <% registrations.each do |reg| %>
        <% if reg.anomalous? && reg.final?
             row_class = "table-warning"
             row_title = "Submission is complete but anomalous."
           elsif reg.anomalous?
             row_class = "table-danger"
             row_title = "Submission has anomalies. Please review."
           elsif reg.final?
             row_class = "table-success"
             row_title = "Submission is final."
           else
             row_class = ""
             row_title = ""
           end
        %>
        <tr class="<%= row_class %>" data-toggle="tooltip" title="<%= row_title %>">
          <td class="align-middle"><%= link_to "View", [exam, reg], class: "btn btn-info" %></td>
          <td class="align-middle"><%= reg.role %></td>
          <td class="align-middle"><%= reg.user.username %></td>
          <td class="align-middle">
              <span>
                <%= reg.anomalies.map(&:reason).to_sentence %>
                <% if !reg.final? %>
                  <% if reg.anomalous? %>
                    <br>
                    <span class="col-12">
                      <%= link_to "Clear", exam_registration_clear_anomalies_path(@exam, reg), class: "col-4 btn btn-success", method: :post, data: {confirm: "Are you sure you want to allow this student to continue?"} %>
                      <%= link_to "Finalize", exam_registration_finalize_path(@exam, reg), class: "col-4 btn btn-danger", method: :post, data: {confirm: "Are you sure you want to finalize this student's submission?"} %>
                    </span>
                  <% else %>
                      <%= link_to "Finalize", exam_registration_finalize_path(@exam, reg), class: "col-8 btn btn-outline-secondary", method: :post, data: {confirm: "Are you sure you want to finalize this student's submission?"} %>
                  <% end %>
                <% end %>
              </span>
          </td>
          <td class="align-middle"><%= link_to reg.room.name, [exam, reg.room] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>