<% @keepnavbar = true %>
<% @page_title = "#{@exam.name} Registration for #{@registration.user.display_name}" %>
<div class="row">
  <div class="col-12">
    <h2><%= @exam.name %> Registration</h2>
    <div class="d-print-none">
      <% if @registration.anomalous? %>
        <p><%= link_to "Show anomalies", exam_registration_anomalies_path(@registration.exam, @registration), class: "btn btn-danger" %></p>
      <% end %>
      <p><%= link_to "View exam registrations", exam_registrations_path(@registration.exam), class: "btn btn-info" %></p>
      <p><%= link_to "View exam", @registration.exam, class: "btn btn-info" %></p>
      <p><%= link_to "View room", [@exam, @registration.room], class: "btn btn-info" %></p>
    </div>
    <p>Registration for <i><%= @registration.user.display_name %></i>.</p>
    <p>Updated at <i><%= @registration.updated_at %></i>.</p>

    <%= react_component('ExamViewer', {
      railsExam: {
        id: @exam.id,
        name: @exam.name,
        policies: @exam.info['policies']
      },
      contents: {
        exam: {
          questions: @version['contents']['questions'],
          reference: @version['contents']['reference'],
          instructions: @version['contents']['instructions'],
          files: @exam.files
        },
        answers: @answers
      }
    }) %>
  </div>
</div>
