<% @page_title = "#{@exam.name} Registration for #{@registration.user.username}" %>
<div class="row">
  <div class="col-12">
    <h2><%= @exam.name %> Registration</h2>
    <div class="d-print-none">
      <% if @registration.anomalous? %>
        <p><%= link_to "Show anomalies", exam_registration_anomalies_path(@registration.exam, @registration), class: "btn btn-danger" %></p>
      <% end %>
      <p><%= link_to "View exam registrations", exam_registrations_path(@registration.exam), class: "btn btn-info" %></p>
      <p><%= link_to "View exam", @registration.exam, class: "btn btn-info" %></p>
      <p><%= link_to "View room", [@exam, @registration.room], class: "btn btn-info" %></p>
    </div>
    <p>Registration for <i><%= @registration.user.username %></i>.</p>
    <p>Updated at <i><%= @registration.updated_at %></i>.</p>

    <%= react_component('ExamViewer', {
      railsExam: {
        id: @exam.id,
        name: @exam.name
      },
      contents: {
        exam: {
          questions: @exam.info[:contents][:questions],
          reference: @exam.info[:contents][:reference],
          instructions: @exam.info[:contents][:instructions],
          files: @exam.get_exam_files
        },
        answers: @registration.get_current_answers
      }
    }) %>
  </div>
</div>
