<% @page_title = "Log in" %>

<%= react_component 'common/navbar/NotLoggedIn' %>
<div class="container">
  <% unless flash.empty? %>
    <% flash.each do |key, value| %>
      <div class="row flash">
        <div class="col-12">
          <div class="alert alert-<%= flash_class[key.to_sym] %> alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <%= value.html_safe %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <h1>Welcome to Hourglass</h1>
  <p>Hourglass is a Web-based exam server for Computer Science courses.</p>

  <div id="signin">
    <div class="form-signin text-center">
      <%= link_to "Sign in with Bottlenose", user_bottlenose_omniauth_authorize_path, class: "btn btn-primary", method: :post %>
    </div>
  </div>

  <% if Rails.env.development? %>
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-signin text-center">
        <h1 class="h4 mb-4 font-weight-normal">DEV LOGIN</h1>
        <%= f.text_field :username, class: "form-control", autofocus: true, hide_label: true, placeholder: "Username", id: "username" %>
        <%= f.password_field :password, class: "form-control", type: "password", autocomplete: "off", hide_label: true, placeholder: "Password" %>

        <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>
  <% end %>
</div>
