<% @page_title = "Log in" %>

<h1>Welcome to Hourglass</h1>
<p>Hourglass is a Web-based exam server for Computer Science courses.</p>

<div id="signin">
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name, next: params[:next])) do |f| %>
    <div class="form-signin text-center">
      <h1 class="h4 mb-4 font-weight-normal">Login with your Khoury username and password</h1>
      <%= f.text_field :username, class: "form-control", autofocus: true, hide_label: true, placeholder: "Username", id: "username" %>
      <%= f.password_field :password, class: "form-control", type: "password", autocomplete: "off", hide_label: true, placeholder: "Password" %>

      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, id: "remember" %>
      <% end -%>

      <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
</div>
