<p><%= @exam.info["instructions"]&.html_safe %></p>

<%  dirs, files = @exam.get_referenced_files(@exam.info["reference"])
unless files.empty?
%>
  <%= render "exams/filepicker", dirs: dirs, files: files, root: "exam_files" %>
<% end %>
<%= bootstrap_form_tag url: @preview ? "#" : submit_exam_path, html: {id: "exam-form"} do |form| %>
  <div id="questions" class="paginated">
    <div class="mt-4 question-nav d-print-none">
      <b>Jump to question:</b>
      <nav aria-label="question navigation" id="question-nav" class="d-inline-block">
        <ul class="pagination">
          <% @exam.info["questions"].each_with_index do |question, index| %>
            <li class="page-item question-page-item" id="nav-q<%= index+1 %>">
              <a href="#" class="page-link question-link" data-q="<%= index + 1 %>">
                <%= "#{index + 1}" %>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <% @exam.info["questions"].each_with_index do |question, index| %>
      <%= render "exams/question", form: form, question: question, question_number: index, readonly: @readonly %>
    <% end %>
    <% unless @preview %>
      <div class="mt-4 d-print-none">
        <%= form.submit class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render "navbar" %>
<script><%= render "exams/show.js" %></script>
