<div class="row part card">
  <div class="col-12">
    <h3>Part <%= part_number %>: <%= part["name"] %></h3>
    <h4>This part is worth <%= part["points"] %> points.</h4>
    <p><%= part["description"]&.html_safe %></p>
    <%= render "files", files: part["files"] if part["files"] %>
    <% part["body"].each_with_index do |item, index| %>
      <%= render "bodyitem", item: item, question_number: question_number, part_number: part_number, bodyitem_number: index %>
    <% end %>
  </div>
</div>