<div class="row part card">
  <div class="col-12">
    <h3>Part <%= num %>: <%= part["name"] %></h3>
    <h4>This part is worth <%= part["points"] %> points.</h4>
    <p><%= part["description"]&.html_safe %></p>
    <%= render "files", files: part["files"] if part["files"] %>
    <% part["body"].each do |item| %>
      <hr>
      <%= render "bodyitem", item: item %>
    <% end %>
  </div>
</div>