<div id="q<%= question_number + 1 %>p<%= part_number + 1 %>" class="row part">
  <div class="col-12">
    <h3>Part <%= part_number + 1 %>: <%= part["name"] %>
      <small class="float-right text-muted">(<%= part["points"] %> points)</small>
    </h3>
    <p><%= part["description"]&.html_safe %></p>
    <% unless part.dig("reference", :files).blank? %>
      <%= render "exams/filepicker", filedirs: part["reference"], root: "question_#{question_number}_part_#{part_number}" %>
    <% end %>
    <% index = 0 %>
    <table class="table-hover col-12">
      <tbody>
        <% part["body"].each_with_index do |item, index| %>
        <tr class="container"><td class="row no-gutters">
          <%= render "exams/bodyitem", form: form, item: item, question_number: question_number, part_number: part_number, 
              bodyitem_number: index, readonly: readonly %>
        </td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
