<% paginated = question["separateSubparts"] ? "paginated" : "" %>
<div id="q<%= question_number + 1 %>" class="row question <%= paginated %>">
  <div class="col-12">
    <h1>Question <%= question_number + 1 %>: <%= question["name"] %></h1>
    <p><%= question["description"]&.html_safe %></p>
    <%= render "files", files: question["files"] if question["files"] %>
    <nav aria-label="part navigation">
      <ul class="pagination">
        <% question["parts"].each_with_index do |question, index| %>
          <li class="page-item" id="nav-q<%= question_number+1 %>p<%= index+1 %>"><a class="page-link" href="#" onclick="showPart(<%= question_number+1 %>, <%= index+1 %>)"><%= index + 1 %></a></li>
        <% end %>
      </ul>
    </nav>
    <% question["parts"].each_with_index do |part, index| %>
      <%= render "part", form: form, part: part, question_number: question_number, part_number: index %>
    <% end %>
  </div>
</div>
