<% paginated = question["separateSubparts"] ? "paginated" : "" %>
<div id="q<%= question_number + 1 %>" class="row question no-gutters <%= paginated %>">
  <div class="col-12">
    <h1>Question <%= question_number + 1 %>: <%= question["name"] %></h1>
    <p><%= question["description"]&.html_safe %></p>

    <%
      q_files = "q#{question_number+1}-all"
      dirs, files = @exam.get_exam_files(q_files)
      unless files.empty?
    %>
      <%= render "filepicker", dirs: dirs, files: files, root: "question_#{question_number}" %>
    <% end %>

    <% if question["separateSubparts"] %>
      <div class="mt-4 screen-only">
        <p>Part navigation:</p>
        <nav aria-label="part navigation">
          <ul class="pagination">
            <% question["parts"].each_with_index do |question, index| %>
              <li class="page-item part-page-item" id="nav-q<%= question_number+1 %>p<%= index+1 %>"><a class="page-link" href="#" onclick="showPart(<%= question_number+1 %>, <%= index+1 %>)"><%= index + 1 %></a></li>
            <% end %>
          </ul>
        </nav>
      </div>
    <% end %>
    <% question["parts"].each_with_index do |part, index| %>
      <%= render "part", form: form, part: part, question_number: question_number, part_number: index, readonly: readonly %>
    <% end %>
  </div>
</div>
