<div class="row question card">
  <div class="col-12">
    <h1>Question <%= question_number %>: <%= question["name"] %></h1>
    <p><%= question["description"]&.html_safe %></p>
    <%= render "files", files: question["files"] if question["files"] %>
    <% question["parts"].each_with_index do |part, index| %>
      <%= render "part", part: part, question_number: question_number, part_number: index %>
    <% end %>
  </div>
</div>
