<% @question += 1 %>
<div class="row question card">
  <div class="col-12">
    <h1>Question <%= @question %>: <%= question["name"] %></h1>
    <%= render "files", files: question["files"] if question["files"] %>
    <p><%= question["description"]&.html_safe %></p>
    <% @part = 0 %>
    <% question["parts"].each do |part| %>
      <%= render "part", part: part %>
    <% end %>
  </div>
</div>
