<h1><%= @exam.name %></h1>
<% if current_user.admin_or_prof? %>
  <%= link_to "View registrations", exam_registrations_path(@exam), class: "btn btn-info" %>
<% end %>
<p><%= @exam.info["instructions"]&.html_safe %></p>
<%= render "files", files: @exam.info["files"] if @exam.info["files"] %>
<%= bootstrap_form_tag url: submit_exam_path, html: {id: "exam-form"} do |form| %>
  <div id="questions" class="paginated">
    <div class="mt-4 question-nav d-print-none">
      <b>Jump to question:</b>
      <nav aria-label="question navigation" id="question-nav" class="d-inline-block">
        <ul class="pagination">
          <% @exam.info["questions"].each_with_index do |question, index| %>
            <li class="page-item question-page-item" id="nav-q<%= index+1 %>">
              <a href="#" class="page-link question-link" data-q="<%= index + 1 %>">
                <%= "#{index + 1}" %>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <% @exam.info["questions"].each_with_index do |question, index| %>
      <%= render "exams/question", form: form, question: question, question_number: index, readonly: @readonly %>
    <% end %>
    <div class="mt-4 d-print-none">
      <%= form.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>

<script><%= render "exams/show.js" %></script>

