<% @page_title = @exam.name %>
<% @keepnavbar = true %>
<h1><%= @page_title %></h1>
<h2>
  <span class="collapsed" data-toggle="collapse" data-target="#preview">
    Preview Exam
    <%= octicon "chevron-down", height: "1em", width: "1em" %>
    <%= octicon "chevron-up", height: "1em", width: "1em" %>
  </span>
  <%= link_to "Edit exam", edit_professor_course_exam_path(params[:course_id], @exam), class: "btn btn-info" %>
</h2>
<div class="row collapse" id="preview">
  <div class="col" style="border: 5px solid black; height: 50em; overflow: scroll;">
    <%= react_component('proctor/registrations/show', {
      railsExam: {
        id: @exam.id,
        name: @exam.name,
        policies: @exam.info['policies']
      },
      contents: {
        exam: {
          questions: @exam.version(0)['contents']['questions'],
          reference: @exam.version(0)['contents']['reference'],
          instructions: @exam.version(0)['contents']['instructions'],
          files: @exam.files
        },
        answers: @exam.version(0)['answers']
      }
    }) %>
  </div>
</div>
<%= link_to "Proctor", ['proctor', @exam], class: "btn btn-info" %>
<% unless @exam.finalized? %>
  <%= link_to "Finalize exam", proctor_exam_finalize_path(@exam), class: "btn btn-success", method: :post, data: {confirm: "Are you sure you want to finalize all submissions for this exam?"} %>
<% end %>
