<% content_for :wide_content do %>
<% @page_title = @exam.name %>
<% if current_user.admin_or_prof? %>
  <h1><%= @page_title %></h1>
  <h2 class="collapsed" data-toggle="collapse" data-target="#preview">Preview Exam <%= octicon "chevron-down", height: "1em", width: "1em" %><%= octicon "chevron-up", height: "1em", width: "1em" %></h2>
  <div class="row collapse" id="preview">
    <div class="col" style="border: 5px solid black; height: 50em; overflow: scroll;">
      <%= react_component('ExamViewer', {
        railsExam: {
          id: @exam.id,
          name: @exam.name,
          policies: @exam.policies
        },
        contents: {
          exam: {
            questions: @exam.info[:contents][:questions],
            reference: @exam.info[:contents][:reference],
            instructions: @exam.info[:contents][:instructions],
            files: @exam.get_exam_files
          },
          answers: @exam.info[:answers]
        }
      }) %>
    </div>
  </div>
  <h2 class="mt-4">Registrations</h2>
  <% unless @exam.finalized? %>
    <%= link_to "Finalize exam", finalize_exam_path(@exam), class: "btn btn-success", method: :post, data: {confirm: "Are you sure you want to finalize all submissions for this exam?"} %>
  <% end %>
  <%= render 'registrations/table', exam: @exam, registrations: @exam.registrations %>
<% else %>
  <%= react_component('ShowExam', {
    railsUser: {
      username: current_user.username
    },
    railsExam: {
      id: @exam.id,
      name: @exam.name,
      policies: @exam.policies
    },
    railsRegistration: {
      id: @registration.id,
    },
    final: @final
  }) %>
<% end %>
<% end %>
