<% @page_title = @exam.name %>
<h1><%= @page_title %></h1>
<% if current_user.admin_or_prof? %>
  <h2 class="collapsed" data-toggle="collapse" data-target="#preview">Preview Exam <%= octicon "chevron-down", height: "1em", width: "1em" %><%= octicon "chevron-up", height: "1em", width: "1em" %></h2>
  <div class="row collapse" id="preview">
    <iframe src="<%= preview_exam_path(@exam) %>" class="col-12 p-0" style="border: 5px solid black; height: 50em;">
    </iframe>
  </div>
  <h2 class="mt-4">Registrations</h2>
  <% unless @exam.finalized? %>
    <%= link_to "Finalize exam", finalize_exam_path(@exam), class: "btn btn-success", method: :post, data: {confirm: "Are you sure you want to finalize all submissions for this exam?"} %>
  <% end %>
  <%= render 'registrations/table', exam: @exam, registrations: @exam.registrations %>
<% else %>
  <div id="interstitial">
    <p>Click the following button to enter secure mode and begin the exam.</p>
    <a href="#" id="begin-exam" class="btn btn-success">Begin exam</a>
  </div>
<% end %>
<div id="exam-contents"></div>


<%= react_component('ExamTaker', {
    info: @exam.info,
    files: @exam.get_exam_files
}) %>