<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% default_page_title = "#{params[:controller]} / #{params[:action]}" %>
    <title><%= @page_title || default_page_title %> - Hourglass</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if @keepnavbar %>
      <% # TODO remove this (and the partial once erb views are gone) %>
      <%= render "layouts/navbar"  %>
    <% end %>
    <% unless flash.empty? %>
      <%= render "layouts/flash" %>
    <% end %>
    <% if @keepnavbar %>
      <div class="container mt-f">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
